<div class="p-4 break-all" style="color: <%= @env['fgcolor'] || 'black' %>; background-color: <%= @env['bgcolor'] || 'white' %>;" >
  <% @headers.each do |key, val| %>
    <div class="text-xl"><%= key %>: <%= val %></div>
  <% end %>
</div>
